<div id="container">
  <div class="sidebar">
    <h1>ShoutOut</h1>
      <button md-raised-button (click)="login()">Use my Google Account</button>
      <br>
      <input [(ngModel)]="newRoomName" placeholder="Insert New Room">
      <button (click)="createRoom(newRoomName)">Create New Room</button>
    <ul class="rooms">
      <li *ngFor="let room of rooms | async"
      [class.selected]="room === selectedRoom"
      (click)="selectRoom(room)">
        <span class="text">{{room.$value}}</span>
      </li>
    </ul>
    <button md-raised-button (click)="logout()">Logout</button>
  </div>
  <message-view [messages]="messages"></message-view>
</div>
