<div id="container">
  <div class="sidebar">
    <h1>ShoutOut</h1>
      <button md-raised-button (click)="login()"
      [hidden]="user.uid">Sign in with Google</button>
      <div *ngIf="user.google?.displayName">Hi, {{user.google.displayName}}!</div>
      <br>
      <br>
      <input [(ngModel)]="newRoomName" placeholder="Insert New Room" class="input">
      <button (click)="createRoom(newRoomName)">Create New Room</button>
    <ul class="rooms">
      <li *ngFor="let room of rooms | async"
      [class.selected]="room === selectedRoom"
      (click)="selectRoom(room)">
        <span class="text">{{room.$value}}</span>
      </li>
    </ul>
    <button md-raised-button (click)="logout()"
    [hidden]="!user.uid">Logout</button>
  </div>
  <message-view
  [messages]="messages"
  [user]="user.google?.displayName"
  [selectedRoomKey]="this.selectedRoomKey"
  ></message-view>
</div>
